# for blog
blog_templates
markdown.css
BLOG.md
MARP.md                                                                                                                                                                                    
pics
libs
.vscode
lambda.zip
terraform.*
.terraform